@font-face
{
  font-family: 'montserrat';
  src: url('../Fonts/montserrat/Montserrat-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header .navbar{
  position: fixed;
  width: 100%;
  z-index: 99;
}

.logo{
  max-width: 80px;
  padding-right: 10px;
}

.navbar-brand{
  font-family: "montserrat";
}

.navbar .navbar-brand{
  font-size: 40px;
  font-style: italic;
}

.collapse a{
  font-size: 20px;
  margin-left: 80px;
}

.accueil{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.accueil h1{
  top: 15%;
  left: 20%;
  font-family: "montserrat";
  font-size: 50px;
}

.accueil p{
  top: 20%;
  left: 20%;
  font-family: "montserrat";
  font-size: 20px;
}

.side-strip{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1em;
  transform: rotate(90deg);
  color: #000;
  letter-spacing: 4px;
  font-family: "montserrat";
}

.myBtn {
     font-family: Poppins;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.accueil button {
     display: block;
     padding: 24px 48px;
     font-family: "montserrat";
     font-weight: 700;
     font-size: 12px;
     letter-spacing: 6px;
     color: #000;
     border: 2px solid #000;
     border-radius: 5px;
     text-transform: uppercase;
     outline: none;
     overflow: hidden;
     background: none;
     cursor: crosshair;
     transition: 0.8s ease-out;
}

.myBtn:hover {
     color: #fff;
     cursor: crosshair;
}

.myBtn:before {
     content: "";
     position: absolute;
     background: #000;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.myBtn:hover:before {
     top: 0;
}

.canvas{
  margin: 25% 30% 0 42.5%;
}

.ancre{
  visibility: hidden;
}

.formulaire h1{
  top: 15%;
  left: 20%;
  font-family: "montserrat";
  font-size: 50px;
}

form{
  margin: 0 0 0 35%;
}

.form-col{
  margin-top: 50px;
}

.form-col input{
  width: 100%;
}

h5{
  padding-top: 20px;
  font-family: "montserrat";
  text-decoration: underline;
}

.dropper {
  margin: 50px 10px 10px 0;
  width: 400px;
  height: 250px;
  background-color: inherit;
  border: 1px solid #000;
  border-radius: 10px;
  transition: all 200ms linear;
}

.drop_hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
}

.draggable {
  display: inline-block;
  margin: 20px 10px 10px 20px;
  padding-top: 7px;
  width: 80px;
  height: 60px;
  color: #000;
  background-color: inherit;
  border: 4px solid #000;
  border-radius: 6px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 200ms linear;
  user-select: none;
}

.btn{
  margin-top: 20px;
}

.geolocation h1{
  top: 15%;
  left: 20%;
  font-family: "montserrat";
  font-size: 50px;
}

.paraMap{
  font-family: "montserrat";
  text-decoration: underline;
  margin-top: 3%;
  left: 20%;
  font-size: 20px;
}

#map{
  width: 800px;
  height: 600px;
  margin: 5% 0 5% 26%;
}

.footerRow1{
  width: 100%;
  height: 20em;
  color: #fff;
  font-family: "montserrat";
  text-align: center;
}

.footerRow2{
  width: 100%;
  color: #fff;
  font-family: "montserrat";
  text-align: center;
}

.contact{
	font-size: 20px;
  text-decoration: underline;
  padding: 30px 0 50px 0;
}

.fa-phone{
	margin-right: 1%;
}

.tel:hover{
	color: #fff;
  text-decoration: none;
}

.mail:hover{
	color: #fff;
  text-decoration: none;
}

.fa-envelope{
	margin-right: 1%;
}
